<!--{% extends 'main.html' %}

{% block content %}
    <form name="formEditar" id="formEditar" method="post" action="/changePassword/">
        <div class="col-6 mt-4 m-auto">
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}

            {% csrf_token %}
            <input class="form-control mt-4" type="password" name="passwordnew" id="password" placeholder="Digite Nova Senha:">
            <input class="form-control mt-4" type="password" name="passwordnewok" id="password" placeholder="Confirme Nova Senha:">
            <input class="btn btn-blue mt-4" type="submit" value="Confirmar Alteração de Senha">
        </div>
    </form>
{% endblock %}-->